.list {
  width: 100%;
  background-color: var(--background-default);
  align-content: space-between;
}

.listItem {
  padding-left: 0;
  padding-right: 0;
}

.listItemAvatar {
  min-width: 56px;
  width: 56px;
  height: 56px;
  margin-right: 16px;
}

.avatarBox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: start;
}

.icon {
  color: white;
}

.title {
  font-weight: bold;
}

.description {
  color: grey;
  text-align: left;
}
.time,
.tasks {
  color: grey;
  text-align: right;
}
