.list {
  width: 100%;
  background-color: var(--background-default);
}

.listItem {
  padding-left: 0;
  padding-right: 0;
}

.secondaryText {
  color: grey;
}

.time {
  color: grey;
  text-align: right;
}
