.card {
  padding: 24px;
}

.topic {
  font-weight: bold;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between; // To space the text and icon apart
  margin: 16px 0;
}

.textBox {
  display: flex;
  flex-direction: column;
}

.mainText {
  display: flex;
  flex-direction: row;
}

.title {
  font-weight: bold;
  margin-bottom: 8px;
}

.addition {
  font-weight: bold;
  margin-bottom: 8px;
}

.growth {
  color: #00d25b;
}

.error {
  color: #f44336; // Default MUI error color
}

.desc {
  color: grey;
}

.iconBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px; // Space between text and icon
}

.icon {
  display: flex;
  align-items: center;
  font-size: 48px; // Ensure icon inherits the larger size from the inline style
}

.growthBorder {
  border-color: #00d25b; // Corresponding success.main color
  color: #00d25b;
}

.errorBorder {
  border-color: #f44336; // Corresponding error.main color
  color: #f44336;
}
