.card {
  padding: 24px;
  display: flex;
  flex-direction: column;
  height: 100%;

  .title {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 16px;
  }

  .add-items {
    padding-block: 16px;
    padding-inline: 0px;
    display: flex;
    width: 100%;

    .input-wrapper {
      flex: 1;
    }

    .button-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  .button {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .list-wrapper {
    .MuiListItem-root {
      padding-left: 0;
    }

    .MuiListItemIcon-root {
      min-width: 36px;
    }
  }

  .taskText {
    color: grey;
  }
}
