.card {
  padding: 24px;
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;

  .title {
    align-self: flex-start;
    font-size: 1.25rem;
    margin-bottom: 16px;
  }

  .chart-container {
    width: 170px;
    display: flex;
    justify-content: center;
    padding: 5px 0;
  }
}
